* {
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    padding-top: 10px;
}

header > p {
    font-size: 24px;
    font-weight: bold;
}

header > ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    justify-content: flex-end;
}

.first {
    display: flex;
    padding: 0 150px;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 200px;
    gap: 100px;
}

.first > .container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    align-items: flex-start;
    justify-content: space-between;
}

.main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary_text {
    font-size: 18px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    padding: 10px 30px;
    border-radius: 12px;
    font-weight: bold;
}

.first > img {
    flex: 1 1 50%;
    height: auto;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;
}

.second > .container {
    display: flex;   
    justify-content: space-evenly;
    gap: 30px;
}

.second > .container > .card {
    text-align: center;
}

.second > .container > .card > img {
    border: 2px solid #3882F6;
    border-radius: 12px;
    padding: 10%;
}