* {
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    padding-top: 10px;
}

header > p {
    font-size: 24px;
    font-weight: bold;
}

header > ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.first {
    display: flex;
    padding: 0 150px;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.first > .container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    height: 300px;
    align-items: flex-start;
}

.main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary_text {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    padding: 10px 30px;
    border-radius: 12px;
    font-weight: bold;
}

.first > img {
    min-width: 50%;
    height: 300px;
}